---
layout: default
---

.row
  .span8
    article#post.post
      h1= document.title
      p.date= document.date
      .post-content!= content

  .span4
    include sidebar.jade    

    footer
      if document.relatedDocuments && document.relatedDocuments.length
        section#related
          h3 Related Posts
          nav.linklist
            ul
              each doc in document.relatedDocuments
                li
                  span= doc.date.toShortDateString()
                  |  &raquo;&nbsp;
                  a(href=doc.url)= doc.title
